<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout :: page(userId=${userId},citizen=${citizen},admin=${admin},head=${head})"
      lang="en"
>
    <head>
        <title>eIzbori</title>
    </head>
    <body>
        <section th:fragment="content">
            <div class="container">
                <h4>Unassigned requests</h4>
                <div class="table-responsive mt-3 mb-5">
                    <table class="table table-sm table-bordered align-middle">
                        <thead>
                            <tr>
                                <th>Request ID</th>
                                <th>Fist Name</th>
                                <th>Last Name</th>
                                <th>Date of Birth</th>
                                <th>Address</th>
                                <th>OIB</th>
                                <th>ID Number</th>
                                <th>Date Created</th>
                                <th th:style="${'color: red;'}">Deadline</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="request : ${unassigned}">
                                <td th:text="${request.electionId}"></td>
                                <td th:text="${request.firstName}"></td>
                                <td th:text="${request.lastName}"></td>
                                <td th:text="${#temporals.format(request.dob, 'dd.MM.yyyy.')}"></td>
                                <td th:text="${request.address}"></td>
                                <td th:text="${request.oib}"></td>
                                <td th:text="${request.idn}"></td>
                                <td th:text="${#temporals.format(request.dateCreated, 'dd.MM.yyyy.')}"></td>
                                <td th:text="${#temporals.format(request.deadline, 'dd.MM.yyyy.')}" th:style="${'color: red;'}"></td>
                                <td th:text="${request.status}"></td>
                                <td class="text-center">
                                    <a th:href="@{/{userId}/request-management/assign-reviewer(userId=${userId},author=${request.author},electionId=${request.electionId})}"
                                       class="btn btn-sm btn-primary"
                                    >Assign</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
                <h4>All requests</h4>
                <div class="table-responsive mt-3">
                    <table class="table table-sm table-bordered align-middle">
                        <thead>
                            <tr>
                                <th>Request ID</th>
                                <th>Fist Name</th>
                                <th>Last Name</th>
                                <th>Date of Birth</th>
                                <th>Address</th>
                                <th>OIB</th>
                                <th>ID Number</th>
                                <th>Date Created</th>
                                <th th:style="${'color: red;'}">Deadline</th>
                                <th>Reviewer</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="request : ${assigned}">
                                <td th:text="${request.electionId}"></td>
                                <td th:text="${request.firstName}"></td>
                                <td th:text="${request.lastName}"></td>
                                <td th:text="${#temporals.format(request.dob, 'dd.MM.yyyy.')}"></td>
                                <td th:text="${request.address}"></td>
                                <td th:text="${request.oib}"></td>
                                <td th:text="${request.idn}"></td>
                                <td th:text="${#temporals.format(request.dateCreated, 'dd.MM.yyyy.')}"></td>
                                <td th:text="${#temporals.format(request.deadline, 'dd.MM.yyyy.')}" th:style="${'color: red;'}"></td>
                                <td th:text="${request.reviewer}"></td>
                                <td th:text="${request.status}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>